.header, .hero, .footer {
    color: #f9faf8;
    background-color: #1f2937;
}

.sub-text, .header a {
    font-size: 18px;
    color: #e5e7eb;
}

button, .cta-box {
    background-color: #3882f6;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo {
    margin: 0;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hero-left {
    width: 270px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;


}



body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

footer {
    margin-top: auto;
    text-align: center;
}