* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header, .hero, .footer {
    color: #f9faf8;
    background-color: #1f2937;
}

.sub-text, .header a {
    font-size: 18px;
    color: #e5e7eb;
}

button, .cta-box {
    background-color: #3882f6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.logo {
    margin: 0;
    font-size: 24px;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.hero-left {
    width: 370px;
    margin-right: 115px;
}

.hero-right {
    margin-left: 115px;
}

.hero

.placeholder {
    background-color: grey;
    padding: 100px;
}

.sign-up {
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 75px;
    margin-top: 10px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}



body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

footer {
    margin-top: auto;
    text-align: center;
}