.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo {
    margin: 0;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hero-left {
    width: 270px;
}



body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: white; */
}

footer {
    margin-top: auto;
    text-align: center;
}